@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}


/* CSS FOR CALENDER */
/* styles.css */

/* Calendar container */
.react-calendar {
  font-family: 'Poppins' !important;
  max-width: 100% !important; /* Set the maximum width of the calendar */
  margin: auto; /* Center the calendar on the page */
  border-radius: 15px;
  width: 100% !important;
  height: 100%;
  background: #F7F7F7 !important;
  padding: 20px ;
  border: 0 !important;
}

.react-calendar__navigation__arrow{
  background: transparent !important;
}
.react-calendar__navigation__next-button,
.react-calendar__navigation__prev-button{
  background: #FDFDFD !important;
  color: #3F3F44;
  padding: 5px;
  border-radius: 10px;
}


/* Header styling */
.react-calendar__navigation {
  font-weight: bold;
  color: #3F3F44; /* Set text color for the header */
}

/* Day styling */
.react-calendar__month-view__weekdays__weekday {
  color: #3F3F44; /* Set text color for the weekdays */
}

/* Active day styling */
.react-calendar__month-view__days__day--active {
  background-color: #5679FF; /* Set background color for the active day */
  color: #fff; /* Set text color for the active day */
  border-radius: 100% !important;
}
